$sectionActiveColor: #2ecc71;
$sectionParagraphColor: #848484;
$sectionHeadlineColor: #222222;
$sectionLinksColor: #ffffff;
$footerColor: #e3e3e3;
$sectionBorderColor: #c8c8c8;
$logoFont: "Pacifico-Regular";
$primaryFontR: "HelveticaNeue-Regular";
$primaryFontM: "HelveticaNeue-Medium";
$primaryFontI: "HelveticaNeue-Italic";
$sectionTitleFont: "Raleway-SemiBold";
$screen-md-max: 1199px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;