.section_abilities{
    padding-bottom: 60px;
    @media only screen and (max-width: $screen-sm-max) {
        padding-bottom: 40px;
    }
    @media only screen and (max-width: $screen-xs-max) {
        padding-bottom: 25px;
    }
}