@font-face {
  font-family: "HelveticaNeue-Regular";
  src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf');
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf');
}
@font-face {
  font-family: "Pacifico-Regular";
  src: url('../fonts/Pacifico/PacificoRegular.ttf');
}
@font-face {
  font-family: "Raleway-Bold";
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: "HelveticaNeue-Italic";
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Italic.otf');
}

