.section_title{
  font-size: 22px;
  color: $sectionHeadlineColor;
  font-family:$sectionTitleFont;
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 20px;
  }
  @media only screen and (max-width: $screen-xs-max) {
    font-size: 17px;
    text-align: center;
  }
}
.section_paragraph{
  margin-top: 30px;
  color: $sectionParagraphColor;
  font-family: $primaryFontR;
  @media only screen and (max-width: $screen-sm-max) {
    margin-top: 20px;
  }
  @media only screen and (max-width: $screen-xs-max) {
    margin-top: 13px;
  }
}
.section_quote{
  font-size: 18px;
  color: $sectionParagraphColor;
  font-family:$primaryFontI;
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 17px;
  }
  @media only screen and (max-width: $screen-xs-max) {
    font-size: 15px;
  }
}